/* CSS file for nav bar*/



/** Mobile view Default*/

/* Positioning*/
header {
  width: 100%;
  background-color: var(--clr-dark);
  color: var(--clr-primary);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 7px;
}

nav {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-nav div {
  margin-bottom: 10px;
}

/* Typography*/
.logo a {
  color: white;
  font-size: 1.1em;
  font-weight: var(--fw-bold);
  letter-spacing: 0.1em;
}

.user-name {
  color: var(--clr-accent-light);
  font-size: 1em;
  font-weight: var(--fw-lightBold);
}

/* Log out button*/
.log-out-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 3px 10px;
  width: auto;

  border: 1px solid var(--clr-primary);
  border-radius: 5px;
}

/* Media query for Tablet displays*/
@media only screen and (min-width: 500px) {
  header {
    padding: 10px 5px;
  }

  .top-nav {
    width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .user {
    margin-right: 10px;
  }
}

/* Media query for Desktop displays*/

@media only screen and (min-width: 700px) {

}

/* Media query for Ultra wide displays*/

@media only screen and (min-width: 900px) {
  nav {
    width : 85%;
  }
}
