/** Styles for side nav bar*/

/** Mobile View*/
  /** Positioning*/
.horizon {
  display: flex;
  height: 100vh; /* pushes footer to end of view height */
  flex-direction: column;
}

.side-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.side-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-icon {
  padding-left: 10px;
}

  /** Color and typography*/
.side-container li {
  list-style: none;
  /*padding-top: 0.7em;*/
}

.side-bar {
  background-color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
}

.side-container a,
.side-container span{
  color: var(--clr-accent-light);
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: var(--fw-lightBold);
}
