.nav-bar {
  width: 100%;
  background-color: var(--clr-primary);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
}

.nav-container {
  width: 87%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4em;
  list-style-type: none;
  flex-wrap: wrap; /* Fix for wrapping in responsive design*/
}

.nav-container ul a {
  text-decoration: none;
  color: var(--clr-dark);
  font-size: 0.85em;
  font-weight: var(--fw-black);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-right: 5px;
}

